<template> 
  <div>
    <v-form
      ref="form"
      v-model="valid"
    >
      <v-text-field
        v-model="age"
        :counter="3"
        :rules="ageRules"
        label="Age (Years)"
        required
        type="number"
      />

      <v-select
        v-model="pet"
        :items="pets"
        :rules="petRules"
        label="Select a pet"
        required
      />

      <v-btn
        :disabled="!valid"
        class="white--text"
        color="indigo lighten-1"
        @click="submit"
      >
        Calculate
      </v-btn>
    </v-form>
  </div>
</template>


<script>
export default {
    name: 'Form',
    emits: ['submit'],
    data() {
      return {
        valid: false,
        age : null,
        pet : null,
        ageRules: [
          v => !!v || 'Age is required',
          v => (v && v.length <= 3) || 'Age must be less than 3 characters',
        ],
        petRules: [
          v => !!v || 'Pet is required',
        ],
        pets: [
          'dog',
          'cat',
          'hamster',
          'tortoise',
          'horse',
          'mouse',
        ],
      };
    },
    methods: {
      calculatePetAgeInHumanAge () {
        if (this.pet == this.pets[0]) return this.age * 7;
        else if (this.pet == this.pets[1]) return this.age * 5;
        else if (this.pet == this.pets[2]) return this.age * 12;
        else if (this.pet == this.pets[3]) return this.age * 15;
        else if (this.pet == this.pets[4]) return this.age * 12;
        else if (this.pet == this.pets[5]) return this.age * 3;    
      },
      submit () {
        this.$emit('submit', {
          humanAge: this.calculatePetAgeInHumanAge(),
          pet: this.pet
        })
      } 
    }
}
</script>
