<template> 
  <div>
    <v-container>
      <v-row
        class="text-center"
        align-content="center"
        justify="center"
      >
        <v-col
          cols="12"
        >
          <v-img 
            class="loading ml-auto mr-auto"
            alt="loading"
            src="@/assets/loading.svg"
            width="200"
          />          
          Calculating
        </v-col>
        <v-col cols="6">
          <v-progress-linear
            color="indigo lighten-1"
            indeterminate
            rounded
            height="6"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script>
export default {
    name: 'Loading',
    emits: ['finish'],
    mounted() {
        this.loading();
    },
    methods: {
        loading() {
          setTimeout(() => {
            this.$emit('finish');
            }, 2000);
          }
      }
};
</script>
