<template> 
  <div>
    <v-container>
      <v-row
        align-content="center"
        justify="center"
      >
        <v-col
          cols="12"
        >
          <p>In human years your {{ pet }} is...</p>
          <p>{{ humanAge }} years old</p>
          <v-img
            class="ml-auto mr-auto"
            width="200"
            :src="image"
          />
          <v-btn
            class="white--text text-right ml-auto mr-0 d-block"
            color="indigo lighten-1"
            @click="restart"
          >
            Try Again
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script>
export default {
    name: 'Result',
    props: {
        humanAge: {
          type: Number,
          required: true
        }, 
        pet: {
          type: String,
          required: true
        }
    },
    emits: ['restart'],
    data() {
        return {
        }
    }, 
    computed: {
        image : function() {
            if (this.pet == "dog") return require("@/assets/dog.svg");
            else if (this.pet == "cat") return require("@/assets/cat.svg");
            else if (this.pet == "hamster") return require("@/assets/hamster.svg");
            else if (this.pet == "tortoise") return require("@/assets/tortoise.svg");
            else if (this.pet == "mouse") return require("@/assets/mouse.svg"); 
            else return require("@/assets/horse.svg");
        } 
    },
    methods: {
        restart() {
            this.$emit('restart');
        }
    }
}
</script>
