<template>
  <v-app>
    <v-app-bar 
      class="indigo_gradient"
      height="120"
      app
      color="deep-purple"
      dark
    >
      <v-container>
        <v-row>
          <v-col>
            <v-img
              id="avatar"
              width="70"
              src="@/assets/avatar.svg"
            />
            <p class="mb-0 text-h6">
              Pet Age Calculator
            </p> 
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
    
    <v-main>
      <v-container>
        <Form
          v-if="currentPage === 0"
          @submit="showLoading"
        />
        <Loading
          v-if="currentPage === 1"
          @finish="transferToResult"
        />
        <Result
          v-if="currentPage === 2"
          :human-age="humanAge"
          :pet="pet"
          @restart="showForm"
        />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Form from './components/Form.vue'
import Loading from './components/Loading.vue'
import Result from './components/Result.vue'

export default {
  name: 'App',
  components: {
    Form,
    Loading,
    Result,
  },
  data() {
    return {
      currentPage: 0,
      humanAge: 0,
      pet: ""
    }
  },
  methods: {
    showForm() {
      this.currentPage = 0;
    },
    showLoading(data) {
      this.humanAge = data.humanAge;
      this.pet = data.pet;
      this.currentPage = 1;
    },
    transferToResult() {
      this.currentPage = 2;
    }
  }
}
</script>

<style>
html {
  overflow-y: auto;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#avatar {
  position: absolute;
  left: 20px;
  top: 8px;
}
.indigo_gradient {
  background: rgb(128,208,199);
  background: linear-gradient(to top right, rgba(19,84,122,.5) 0%, rgba(128,208,199,.8) 100%);
}
</style>
